<%- include("partials/header.ejs") %>

    <main>
        <section>
            <article>
                <h2>Holiday1</h2>
            </article>
        </section>
    </main>

<%- include("partials/footer.ejs") %>